@font-face {
  font-family: 'Inter';
  src:
    local('Inter-Medium'),
    url(./Inter_18pt-Medium.ttf) format('ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter-SemiBold'),
    url(./Inter_18pt-SemiBold.ttf) format('ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter-Bold'),
    url(./Inter_18pt-Bold.ttf) format('ttf');
  font-weight: 700;
  font-display: swap;
}